/* =============
    1. defaults  
   ============= */
html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background: url("./../img/toa-heftiba-412579.jpg") no-repeat 0 70%;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: darken;
  background-color: #00000093;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2rem 1rem 5rem 1rem;
  height: 80vh;
}

main {
  background: white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1 {
  font-size: 5rem;
  font-family: "Roboto Slab";
  color: white;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}
/* Inputs */

input,
textarea {
  height: 3.2rem;
  padding: 0 1.6rem;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2rem;
  border: none;
  box-shadow: inset 8px 3px 18px -4px rgba(0, 0, 0, 0.4);
}
textarea {
  height: 3rem;
}
input:focus,
textarea:focus {
  outline: none;
}
/* ===========
     Top Menu 
  ============ */
#top-menu {
  width: 100%;
  font-size: 1.2rem;
  font-family: "Roboto Condensed";
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#top-menu-icons a {
  color: white;
  font-size: 1.6rem;
  padding: 0 0.5rem;
  cursor: pointer;
  transition: 0.4s;
}

#top-menu-icons > i {
  color: #fad257;
  font-size: 1.5rem;
  padding-left: 2rem;
}

#top-menu-social-icons {
  width: 3rem;
  height: 3rem;
  background: #f0e556;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  cursor: pointer;
  transition: 0.4s;
}

#top-menu-social-icons:hover {
  background-color: #008000;
  color: white;
  font-size: 2rem;
  padding: 0 0.5rem;
  cursor: pointer;
  transition: 0.4s;
}

#top-menu-social-icons > i {
  font-size: 1.6rem;
  padding: 2rem;
}

/* Navigation */

nav {
  font-family: "Roboto Condensed";
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}

nav a {
  font-weight: bold;
  transition: 0.4s;
}

nav a:hover,
#slideout-menu ul li a:hover {
  text-decoration: none;
  color: green;
  transition: 0.4s;
}
nav ul {
  width: 100%;
  padding: 2rem 1rem;
  background: black;
}
#top-menu ul,
nav ul {
  border: none;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10rem;
}

.active {
  color: #f0e556;
}

#logo-img {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}

#logo-img img {
  height: 12rem;
}

#menu-icon {
  display: none;
  align-items: center;
}

#banner div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: red;
  height: 5rem;
  font-size: 1.6rem;
}
#baner .main{
  margin:2rem 0;
}
#banner span {
  margin-left: 2rem;
}
.sub-heading {
  font-size: 2.2rem;
  padding: 2rem;
  text-align: justify;
  width: 100%;
}

.section-heading {
  font-size: 3.2rem;
  font-family: "Roboto Condensed", sans-serif;
  border-left: 0.3rem solid black;
  border-right: 0.3rem solid black;
  transition: all 0.4s;
  display: inline-block;
  padding: 0.4rem 3.2rem;
  background: #f0e556;
  color: black;
  margin: 5rem 0;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem grey;
}

.section-heading:hover {
  padding: 0.4rem 4.8rem;
  background: green;
  color: white;
}
section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* Card */
section .card {
  background: #efefef;
  width: 100%;
  box-shadow: 0.5rem 0.5rem 0.5rem grey;
}
.card-image {
  transition: 0.4s;
}

.card-image img {
  width: 100%;
  height: 100%;
}

.card-image:hover {
  box-shadow: 0 1rem 0.6rem -0.6rem grey;
}
.card:hover {
  transition: 0.4s;
}

.card .card-description {
  font-size: 1.2rem;
  text-align: justify;
  padding: 1.5rem;
  color: black;
}
.card .card-description a h3 {
  font-size: 2rem;
  color: black;
}

.card-meta-blogpost {
  color: #333;
  font-size: 2rem;
  padding: 1rem;
  font-family: "Roboto Slab", serif;
}

/* ============ 
    Home Page
   ============ */
.home {
  flex-direction: column;
}
.home .card {
  display: flex;
  background: white;
  border-radius: 1rem;
  box-shadow: none;
  width: 90%;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}
.home .card .card-description h3{
  margin-top: 0;
  padding-top: 0;
  font-size: 3rem;
  border-bottom: 0.1rem solid black;
}
.home .card .card-description p{
  margin-top: 0;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
}
.home .card .card-description ul li p{
  margin-top: 0;
  padding: 0.5rem 2rem;
  font-size: 2rem;
}
.home .card .card-image {

  width: 200rem;
  /* width: 100%; */

}
.home .card .card-image img{
border-radius: 2rem;
  
}
/* ================== 
      Facilities 
  =================== */
.facilities ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  list-style: none;
  width: 90%;
  padding:0 ;
  margin: 0;
}
.facilities ul li {
  z-index: 200;
  margin: 0.5rem;
  width: 25%;
}

.circle {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0.2px 0.8px #000000;
  background: white;
  color: #000000;
}

.circle > img {
  width: 50%;
  height: 50%;
}

.circle:hover {
  transition: 0.4s;
  transform: scale(1.1);
}

.circle > div {
  text-align: center;
  width: 60%;
}

/* 


/* Button Read more */

.btn-readmore {
  padding: 0.8rem 2.4rem;
  border: 3px solid black;
  transition: 0.4s;
  display: inline-block;
  margin-bottom: 2.4rem;
  margin-left: 2.4rem;
  font-weight: bold;
  cursor: pointer;
  background: white;
  color: black;
}

.btn-readmore:hover {
  background: red;
  text-decoration: none;
  padding: 8px 64px 8px 24px;
  color: white;
}

/* Section Source */
#section-source {
  flex-direction: column;
  font-size: 2rem;
  margin: 2rem;
}
#section-source p {
  padding: 0.5rem;
  text-align: center;
  text-align: justify;
}

#section-source a {
  margin: 0.2rem;
  text-align: center;
}

/* =============  
     Exhibition 
   ============= */
.list ul li .card img{
  height:20rem;
}
.exhibitions-container {
  width: 90%;
}
.exhibitions-container ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.exhibitions-container ul li {
  width: 30%;
  margin: 1rem 0;
  list-style: none;
}
.exhibition {
  width: 90%;
  box-shadow: 0.1rem 0.1rem 0.5rem grey;
  height: 30rem;
  background: #efefef;
  padding: 0.5rem;
}
.exhibition-image {
  width: 100%;
  max-height: 50%;
}
.exhibition-name {
  color: #082e2b;
  font-size: 2rem;
  margin-top: 1rem;
}

.exhibition-decription {
  font-size: 1.6rem;
  margin-top: 1rem;
}

.exhibition-name:hover,
.exhibition-decription,
.exhibition-footer-views:hover,
.exhibition-footer-readmore:hover,
.exhibition-last:hover > a {
  border: none;
  color: #000000;
  cursor: pointer;
}

.exhibition > img:hover {
  opacity: 0.8;
}

.exhibition-footer {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.exhibition-footer {
  font-weight: bold;
}

.exhibition-footer-views {
  font-weight: bold;
  font-size: 1.2rem;
}

.exhibition-last > a {
  color: #363739;
}

.exhibition-last {
  display: flex;
  height: 32rem;
  align-items: center;
  justify-content: center;
}

.exhibition-post {
  width: 100%;
  background-color: grey;
}

.exhibition-post-image > img {
  width: 100%;
}

.exhibition-post-body {
  padding: 2rem;
}
.exhibition-last {
  height: 25rem;
}


/* ===========
     about
   =========== */
.getInvolvedSection h3{
font-size: 2rem;
}
/* ===========
     Footer
   =========== */

footer {
  background: #00000099;
  color: white;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  /* margin-top: 3rem; */
}

footer a {
  color: white;
}

footer #left-footer {
  flex: 1;
  border-right: 1px solid red;
  padding-left: 32px;
}

footer #left-footer ul {
  padding: 0;
  list-style: none;
  line-height: 1.5;
}

footer #right-footer {
  flex: 2;
  padding: 0.8rem;
  text-align: center;
}

footer #social-media-footer a .fa-facebook,
footer #social-media-footer a .fa-youtube,
footer #social-media-footer a .fa-github {
  color: white;
  transition: 0.4s;
}

footer #social-media-footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

footer #social-media-footer ul li {
  font-size: 4.8rem;
  padding: 1.6rem;
  transition: 0.4s;
}

footer #social-media-footer ul li:hover a .fa-youtube {
  color: red;
}

footer #social-media-footer ul li:hover a .fa-facebook {
  color: #3b5998;
}

footer #social-media-footer ul li:hover a .fa-github {
  color: #bbb;
}

/* Blog List page */

.page-heading {
  font-size: 3.2rem;
  font-family: "Roboto Condensed", sans-serif;
  border-left: 0.3rem solid black;
  border-right: 0.3rem solid black;
  transition: all 0.4s;
  display: inline-block;
  padding: 0.4rem 3.2rem;
  margin-top: 12rem;
  background: #fad257;
}

.page-heading:hover {
  padding: 0.4rem 4.8rem;
  background: green;
  color: white;
}
.postslistSection {
  flex-wrap: wrap;
}
.postslistSection .card {
  margin: 3rem;
}
.card-meta {
  color: #333;
  font-size: 1.4rem;
  padding-left: 0.8rem;
  font-family: "Roboto Slab", serif;
}

.card-meta a {
  color: #333;
}

/* Pagination */

.pagination {
  padding: 0.8rem;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.pagination Button {
  border-top: 3px solid white;
  background: transparent;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  padding: 0.8rem 1.6rem;
  transition: 0.4s;
}

.pagination Button:hover {
  text-decoration: none;
  border-top: 0.3rem solid black;
}

/* Single Blogpost */

#post-container {
  display: flex;
}

#blogpost {
  display: flex;
  flex-direction: column;
  margin: 5rem;
  width: 70%;
  /* border-left: 1px solid #999; */
}

#blogpost .card {
  width: 60%;
  box-shadow: -0.1rem -0.1rem 0.5rem grey;
}
.about #blogpost,
.contact #blogpost {
  width: 100%;
  padding: 0;
  padding-bottom: 5rem;
  margin: 0;
}
.about #blogpost .card {
  width: 80%;
}

#blogpost .card-image:hover {
  box-shadow: none;
}

.contact #blogpost .card div {
  width: 80%;
  margin: 2rem;
}
.contact #blogpost .card input,
.contact #blogpost .card textarea {
  width: 100%;
}

/* Sidebar */

#sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin: 1rem;
}

#sidebar h3 {
  font-size: 3rem;
  margin: 1rem 0;
  padding: 0;
}
#sidebar hr {
  width: 80%;
  border-bottom: 0.2rem solid black;
}
#sidebar .card {
  display: flex;
  flex-direction: row;
  background: #eee;
  box-shadow: -0.1rem -0.1rem 0.5rem grey;
  margin: 1rem 0;
  padding: 0.5rem;
}
#sidebar .card img {
  width: 6rem;
  height: 4rem;
}
#sidebar .card a {
  font-size: 1.2rem;
}
/* Comments section */
#comments-section {
  border-top: 0.2rem solid #eee;
  padding: 0.8rem;
}

/* Media Queries */
@media (min-width: 1200px) {
  main {
    width: 100%;
  }
}
@media (max-width: 900px) {


  #menu-icon {
    display: flex;
  }

  

  #blogpost {
    width: 100%;
    border-left: 0;
  }

  #sidebar {
    display: none;
  }
}

@media (min-width: 720px) {

  .card {
    width: 45%;
  }
  .card .card-image img {
    width: 100%;
  }
}

@media (max-width: 719px) {
  main {
    width: 95%;
  }

  .card,
  .card .card-image img {
    width: 100%;
  }

  footer {
    flex-direction: column;
    text-align: center;
  }

  footer #left-footer {
    flex: 1;
    border-right: 0;
    padding-left: 0;
  }

  footer #right-footer {
    background: #eee;
    color: black;
  }

  footer #right-footer a {
    color: black;
  }

  footer #social-media-footer a .fa-facebook,
  footer #social-media-footer a .fa-youtube,
  footer #social-media-footer a .fa-github {
    color: black;
    transition: 0.4s;
  }
}

@media (max-width: 600px) {
  header {
    height: 60vh;
  }
  #logo-img h1 {
    font-size: 2.5rem;
  }
  #top-menu ul {
    padding: 0;
    margin: 0;
  }

  #top-menu ul a {
    font-size: 1.2rem;
  }

  #top-menu-icons > i {
    width: 100%;
  }

  #top-menu-social-icons {
    width: 2rem;
    height: 2rem;
    margin-right: 0.2rem;
  }

  #top-menu-social-icons > i {
    font-size: 1.2rem;
  }

  main {
    width: 100%;
  }

  h1 {
    font-size: 4.8rem;
    color: white;
  }

  #banner h3 {
    font-size: 20px;
  }
  .circle {
    width: 15rem;
    height: 15rem;
    margin: 0;
    padding: 0;
  }
  .exhibitions-container ul li{

   width: 100%;
     margin: 1rem 0;
  }
  .exhibitions-container ul li .card{
    width: 100%;
  
  }
  section .card {
    flex-wrap: wrap;
    width: 30%;
  }
  #logo-img {
    padding: 0;
  }
}
